$blue: hsl(220, 98%, 61%);

$light-white: hsl(0, 0%, 98%);
$light-gray-blue: hsl(236, 33%, 92%);
$light-white-blue: hsl(233, 11%, 84%);
$light-dark-gray: hsl(236, 9%, 61%);
$light-dark-blue: hsl(235, 19%, 35%);

$dark-black: hsl(235, 21%, 11%);
$dark-blue: hsl(235, 24%, 19%);
$dark-light-gray: hsl(234, 39%, 85%);
$dark-gray-hover: hsl(236, 33%, 92%);
$dark-blue-gray: hsl(234, 11%, 52%);
$dark-grayish-blue: hsl(233, 14%, 35%);
$dark-black-blue: hsl(237, 14%, 26%);
